*{
    box-sizing: border-box;
}

body {
    font-family: "Caveat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-image: url('fondo.jpg');
        background-repeat: no-repeat;
    margin: 0;
    background-color: #ff5722;
    color: white;
    padding: 10px 20px;
}

h1 {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0,.5),
        rgba(0,0,0,0.3)
        ,url(img/Tec.jpg));
        background-repeat: no-repeat;
    margin: 0;
}

nav ul {
    background-image: url('fondo.jpeg');
        background-repeat: no-repeat;
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: end;
    text-align: left;
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav a {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0,.5),
        rgba(0,0,0,0.3)
        ,url(img/Tec.jpg));
        background-repeat: no-repeat;
    margin: 0;
    color: white;
    text-decoration: none;
}

main {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0,.5),
        rgba(0,0,0,0.3)
        ,url(img/Tec.jpg));
        background-repeat: no-repeat;
    margin: 0;
    padding: 20px;
}

section {
    font-size: 0.8em;
    margin-bottom: 20px;
    background: white;
    padding: 15px;
    border-radius: 5px;
    background-image: url('fondo.jpeg');
        background-repeat: no-repeat;
    margin: 0;

}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
#Section{
   
        background-repeat: no-repeat;
    margin: 0;
}
.Section{
    background-image: url('fondo.jpeg');
        background-repeat: no-repeat;
    margin: 0;
}
